.cart-item {
  width: 100%;
  display: flex;
  margin-bottom: 15px;

  img {
    width: 20%;
    height: auto; /* Maintain aspect ratio */
  }

  .item-info {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .item-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .name {
        font-size: 16px;
        font-weight: bold; /* Add font weight */
      }
    }

    .cross-icon {
      cursor: pointer;
      padding: 0px 20px;
      font-size: 20px; /* Increase font size */
      color: #888; /* Adjust color */
    }
  }
}
